.flex-center{
    display:flex;
    align-items:center;
    justify-content:center;
    height:100%;
}

ion-spinner{
    color:#DA0C81;
    width:100px;
    height:100px;

}

ion-content{
    --background:#F875AA;
}