<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">
  <div class="wrapper">

  <ion-card>
    <ion-item lines="none"><h1>Create Account</h1></ion-item>
    <ion-item lines="none"><p>Username</p></ion-item>
    <ion-item>
      <ion-icon name="person-outline"></ion-icon><ion-input class="username"></ion-input>
    </ion-item>
    <ion-item lines="none"><p>Email</p></ion-item>
    <ion-item>      
      <ion-icon name="mail-outline"></ion-icon><ion-input class="email"></ion-input>
    </ion-item>
    <ion-item lines="none"><p>Password</p></ion-item>
    <ion-item>      
      <ion-icon name="lock-closed-outline"></ion-icon><ion-input class="password"></ion-input>
    </ion-item>
    <ion-item lines="none"><p>Confirm Password</p></ion-item>
    <ion-item>      
      <ion-icon name="lock-closed-outline"></ion-icon><ion-input class="password"></ion-input>
    </ion-item>
    
    <ion-button>Sign up</ion-button><br>
    <a href="login">Already have an account?</a>
    
  </ion-card>
  </div>
</ion-content>
