
<ion-content [fullscreen]="true">
<ion-header  class="ion-no-border" [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<img class="cheese" src="../../../assets/images/cheese-removebg-preview.png">
<img class="strawberry" src="../../../assets/images/strawberry-removebg-preview.png">
<img class="choco" src="../../../assets/images/chocolate-removebg-preview.png">
<img class="matcha" src="../../../assets/images/matcha-removebg-preview.png">
<img class="rockyroad" src="../../../assets/images/rockyroad-removebg-preview.png">
<img class="coffee" src="../../../assets/images/coffee-removebg-preview.png">
<img class="pistachio" src="../../../assets/images/pistachio-removebg-preview.png">
<img class="mango" src="../../../assets/images/mango-removebg-preview.png">
<img class="watermelon" src="../../../assets/images/watermelon-removebg-preview.png">
<img class="cherry" src="../../../assets/images/cherry-removebg-preview.png">


 
    <p>Frostbite started with one purpose: to make premium ice cream. Our ice cream is made with just a handful of ingredients - no fillers, no additives, just pure goodness. Beyond the pint, each scoop celebrates the freshest ingredients and everyone involved in it’s process. Frostbite works because we work with people we know and trust.</p>
 
</ion-content>
