<ion-header  class="ion-no-border" [translucent]="true">
  <ion-toolbar color="custom-grad">
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">about</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item>
    <ion-text>Frostbite started with one purpose: to make premium ice cream. Our ice cream is made with just a handful of ingredients - no fillers, no additives, just pure goodness. Beyond the pint, each scoop celebrates the freshest ingredients and everyone involved in it’s process. Frostbite works because we work with people we know and trust.</ion-text>
  </ion-item>
</ion-content>
