ion-content, ion-toolbar,ion-item{
    --background:  linear-gradient(90deg,#F875AA 0% ,#FFDFDF 100%);   
  }

ion-text{
    text-align:center;
    margin-top:150px;
    font-family:'Worksans';
    font-size:18px;
    color:#DA0C81;
    font-weight:bold;
    
}

