ion-content,.toolbar{
    --background: linear-gradient(90deg,#F875AA 0% ,#FFDFDF 100%);
}

ion-list{
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.checkout{
--background: #DA0C81;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
margin-top: 20px;
}