.toolbar{
  --background:  linear-gradient(90deg,#F875AA 0% ,#FFDFDF 100%);   
  width:80%;
}

ion-content{
  width:100%;
  height:100%;
}

.hero{
  position:relative;
  background:linear-gradient(90deg,#F875AA 0% ,#FFDFDF 100%);
  width:80%;
  height:55%;
  border:none;
  border-bottom-right-radius:20px;
}

ion-text{
  position:absolute;
  font-family:'Space';
  font-size:20px;
  color:white;
  top:10%;
  left:10%;
}

span{
  font-family:'BrownieCream';
  font-size:25px;
}

img{
  position:absolute;
  z-index:1;
  top:20%;
  left:30%;
  width:70%;
}

ion-icon{
  color:black;
}

.product-menu{
  position:relative;
  display:flex;
  flex-direction:row;
  width:100%;
  justify-content:center;
  margin-top:20px;
}

ion-button{
  --background:white;
    font-size:20px; 
}
ion-button:hover{
  --background:#DA0C81;
}

.button-label{
  text-align:center;
  font-weight:bold;
  color:gray;
}

.button-label:hover{
color:#DA0C81;
}

ion-label{
  font-family:'Space';
}
 .items-header{
  display:flex;
  position:absolute;
  width:90%;
  margin-top:10px;
 }

 .asd{
  position:absolute;
  color:#DA0C81;
  font-weight:bold;
 }

 .items{
  position:relative;
  top:12%;
  width:80%;
  left:10%;
 }
 .category1{
  color:#780116;
  top:-20%;
  left:1%;
 }
.items2{
  position:relative;
  top:18%;
  width:80%;
  left:10%;
}
.items3{
  position:relative;
  top:24%;
  width:80%;
  left:10%;
}

p{
  font-family:'Space';
  margin-left:10px;
}

.item1{
  background:#fc80b2;
  padding-top:5px;
  padding-bottom:5px;
  border-radius:10px;
  line-height:0.3;
  margin-bottom:5px;
  
}

.item2{
  background:#C19A6B;
  padding-top:5px;
  padding-bottom:5px;
  border-radius:10px;
  line-height:0.3;
  margin-bottom:10px;
}

.item3{
  background:#93C572;
  padding-top:5px;
  padding-bottom:5px;
  border-radius:10px;
  line-height:0.3;
  margin-bottom:5px;
}

.item4{
  background:#5C2C15;
  padding-top:5px;
  padding-bottom:5px;
  border-radius:10px;
  line-height:0.3;
  margin-bottom:5px;
}

.item5{
  background:#f5c55e;
  padding-top:5px;
  padding-bottom:5px;
  border-radius:10px;
  line-height:0.3;
  margin-bottom:5px;
}

.item6{
  background:radial-gradient( circle farthest-corner at 10% 20%, rgba(221,6,24,1) 0.3%, rgba(254,164,201,1) 90% );
  padding-top:5px;
  padding-bottom:5px;
  border-radius:10px;
  line-height:0.3;
  margin-bottom:5px;
}

.price{
  color:white;
}

#flavor{
  font-weight:bold;
  --background:none;
  --padding-start:none;
  --padding-end:none;
  font-family:'Space';
  margin-left:10px;
  --min-height: 30px;
}

.strawberry{
  color:#b10366;
  
}

.choco{
  color:#7e4603;
}

.pistachio{
  color:#418a11;
}

.rocky{
  color:#f5a986;
}

.mango{
  color:#aa7504
}

.watermelon{
  color:rgb(250, 180, 209);
}

.straw-img{
  width:40px;
  position:absolute;
  top:-12%;
  left:80%;
}

.choco-img{
  width:38px;
  position:absolute;
  top:43%;
  left:80%;
}

.pist-img{
  width:40%;
  position:absolute;
  top:-5%;
  left:62%;
}

.rocky-img{
  width:27%;
  position:absolute;
  top:40%;
  left:72%;
}

.mango-img{
  width: 22%;
  position:absolute;
  top:-11%;
  left:75%;
}

.melon-img{
  width:22%;
  position:absolute;
  top:40%;
  left:75%;
}

